.home {
  /* background: radial-gradient(
    76.3% 118.4% at 13.16% 81.79%,
    #3f03fc 8.83%,
    #3f03fc 20.47%,
    #7104fb 54.86%,
    #4b5af9 65.88%,
    #93eaf2 91.41%
  ); */
  background: radial-gradient(
    76.3% 118.4% at 13.16% 81.79%,
    #3b00f3 8.83%,
    #181185 20.47%,
    #055bdb 54.86%,
    #5a61af 65.88%,
    #1b1438 91.41%
  );
  height: 100%;
  width: 100vw;
}
